services:
    _defaults:
        autowire: true
        autoconfigure: true

    # services
    jalismrs_authentication.stalactite_service:
        class: 'Jalismrs\Symfony\Bundle\JalismrsAuthenticationBundle\StalactiteService'
        arguments:
            $clientApp: '@Jalismrs\Stalactite\Client\Authentication\Model\ClientApp'
            $parser: '@Lcobucci\JWT\Parser'
            $service: '@Jalismrs\Stalactite\Client\Service'

    jalismrs_authentication.user_service:
        class: 'Jalismrs\Symfony\Bundle\JalismrsAuthenticationBundle\UserService'
        arguments:
            $stalactiteService: '@jalismrs_authentication.stalactite_service'

    # controllers
    jalismrs_authentication.authentication_controller:
        arguments:
            $userService: '%jalismrs_authentication.user_service%'
        calls:
            - setContainer:
                  $container: '@Psr\Container\ContainerInterface'
        class: 'Jalismrs\Symfony\Bundle\JalismrsAuthenticationBundle\Controller\AuthenticationController'
        tags:
            - 'controller.service_arguments'

    jalismrs_authentication.user_controller:
        arguments:
            $userService: '%jalismrs_authentication.user_service%'
        calls:
            - setContainer:
                  $container: '@Psr\Container\ContainerInterface'
        class: 'Jalismrs\Symfony\Bundle\JalismrsAuthenticationBundle\Controller\UserController'
        tags:
            - 'controller.service_arguments'

    # event-subscribers
    jalismrs_authentication.get_jwt_request_middleware:
        class: 'Jalismrs\Symfony\Bundle\JalismrsAuthenticationBundle\EventSubscriber\GetJwtRequestMiddleware'

    jalismrs_authentication.is_authenticated_controller_middleware:
        class: 'Jalismrs\Symfony\Bundle\JalismrsAuthenticationBundle\EventSubscriber\IsAuthenticatedControllerMiddleware'

    # aliases
    Jalismrs\Symfony\Bundle\JalismrsAuthenticationBundle\UserService: '@jalismrs_authentication.user_service'
    
    # DEPENDENCIES -------------------------------------------------------------
    # jalismrs/stalactite-api.client
    Jalismrs\Stalactite\Client\Client:
        arguments:
            $host: '%jalismrs_authentication.url%'
    Jalismrs\Stalactite\Client\Service:
        arguments:
            $client: '@Jalismrs\Stalactite\Client\Client'
    Jalismrs\Stalactite\Client\Authentication\Model\ClientApp:
        calls:
            - setName:
                $name: '%jalismrs_authentication.application%'
    
    # lcobucci/jwt
    Lcobucci\JWT\Parser:
        autowire: true
