services:
    _defaults:
        autowire: true
        autoconfigure: true
    
    # controllers
    jalismrs_authentication.authentication_controller:
        arguments:
            $controllerService: '@jalismrs_authentication.authentication_controller_service'
        calls:
            -   setContainer:
                    $container: '@Psr\Container\ContainerInterface'
        class: 'Jalismrs\Symfony\Bundle\JalismrsAuthenticationBundle\Controller\AuthenticationController'
        tags:
            -   name: 'controller.service_arguments'
    
    jalismrs_authentication.user_controller:
        arguments:
            $controllerService: '@jalismrs_authentication.user_controller_service'
        calls:
            -   setContainer:
                    $container: '@Psr\Container\ContainerInterface'
        class: 'Jalismrs\Symfony\Bundle\JalismrsAuthenticationBundle\Controller\UserController'
        tags:
            -   name: 'controller.service_arguments'
    
    # controller-services
    jalismrs_authentication.authentication_controller_service:
        arguments:
            $userService: '@jalismrs_authentication.user_service'
        class: 'Jalismrs\Symfony\Bundle\JalismrsAuthenticationBundle\ControllerService\AuthenticationControllerService'
    
    jalismrs_authentication.user_controller_service:
        arguments:
            $userService: '@jalismrs_authentication.user_service'
        class: 'Jalismrs\Symfony\Bundle\JalismrsAuthenticationBundle\ControllerService\UserControllerService'
    
    # event-subscribers
    jalismrs_authentication.get_jwt_request_middleware:
        arguments:
            $userService: '@jalismrs_authentication.user_service'
        class: 'Jalismrs\Symfony\Bundle\JalismrsAuthenticationBundle\EventSubscriber\GetJwtRequestMiddleware'
    
    jalismrs_authentication.is_authenticated_controller_middleware:
        arguments:
            $userService: '@jalismrs_authentication.user_service'
        class: 'Jalismrs\Symfony\Bundle\JalismrsAuthenticationBundle\EventSubscriber\IsAuthenticatedControllerMiddleware'
    
    # services
    jalismrs_authentication.stalactite_service:
        class: 'Jalismrs\Symfony\Bundle\JalismrsAuthenticationBundle\StalactiteService'
        arguments:
            $clientApp: '@Jalismrs\Stalactite\Client\Authentication\Model\ClientApp'
            $parser: '@Lcobucci\JWT\Parser'
            $service: '@Jalismrs\Stalactite\Client\Service'
        tags:
            -   name: 'monolog.logger'
                channel: 'stalactite'
    
    jalismrs_authentication.user_service:
        class: 'Jalismrs\Symfony\Bundle\JalismrsAuthenticationBundle\UserService'
        arguments:
            $stalactiteService: '@jalismrs_authentication.stalactite_service'
    
    # DEPENDENCIES -------------------------------------------------------------
    # jalismrs/stalactite-api.client
    Jalismrs\Stalactite\Client\Client:
        arguments:
            $host: '%jalismrs_authentication.url%'
    Jalismrs\Stalactite\Client\Service:
        arguments:
            $client: '@Jalismrs\Stalactite\Client\Client'
    Jalismrs\Stalactite\Client\Authentication\Model\ClientApp:
        calls:
            -   setName:
                    $name: '%jalismrs_authentication.application%'
    
    # lcobucci/jwt
    Lcobucci\JWT\Parser:
        autowire: true
